ConsumingAgetodaysWebService/ConsumingAgetodaysWebService/Web References/localhost/AgeTodaysWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="converttodaysweb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="converttodayswebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="converttodayswebResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="converttodayswebSoapIn">
    <wsdl:part name="parameters" element="tns:converttodaysweb" />
  </wsdl:message>
  <wsdl:message name="converttodayswebSoapOut">
    <wsdl:part name="parameters" element="tns:converttodayswebResponse" />
  </wsdl:message>
  <wsdl:portType name="AgeTodaysWebServiceSoap">
    <wsdl:operation name="converttodaysweb">
      <wsdl:input message="tns:converttodayswebSoapIn" />
      <wsdl:output message="tns:converttodayswebSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AgeTodaysWebServiceSoap" type="tns:AgeTodaysWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="converttodaysweb">
      <soap:operation soapAction="http://tempuri.org/converttodaysweb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AgeTodaysWebServiceSoap12" type="tns:AgeTodaysWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="converttodaysweb">
      <soap12:operation soapAction="http://tempuri.org/converttodaysweb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgeTodaysWebService">
    <wsdl:port name="AgeTodaysWebServiceSoap" binding="tns:AgeTodaysWebServiceSoap">
      <soap:address location="http://localhost:49441/AgeTodaysWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AgeTodaysWebServiceSoap12" binding="tns:AgeTodaysWebServiceSoap12">
      <soap12:address location="http://localhost:49441/AgeTodaysWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>